<footer>
    <!-- Other footer content goes here -->
  
    <a href="https://renevantcheetah.github.io/me/" class="btn">About</a> 

    <!-- Make some gap bewteen two links-->
    <span style="padding-left: 3px; padding-right: 3px;"></span>

    <a href="https://renevantcheetah.github.io/contact/" class="btn">Contact </a>

    <span style="padding-left: 3px; padding-right: 3px;"></span>

    <!--Add the link to the feed Feed: '/feed/'-->

    <a href="https://renevantcheetah.github.io/feed/" class="btn">Feed </a>



</footer>
  